<!-- Dropdown menus for Year, Term, and Class inside a row -->
<div class="row mb-4" *ngIf="accounttype === 'ROLE_ADMIN'">
  <div class="col-md-3 col-6">
    <div class="mb-3">
      <label for="year" class="form-label">Year</label>
      <select id="year" class="form-select" [(ngModel)]="myyear">
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
      </select>
    </div>
  </div>

  <div class="col-md-3 col-6">
    <div class="mb-3">
      <label for="enrollmentStatus" class="form-label">Enrollment Status</label>
      <select
        id="enrollmentStatus"
        class="form-select"
        [(ngModel)]="myenrollmentStatus"
      >
        <option *ngFor="let status of enrollmentStatuses" [value]="status">
          {{ status }}
        </option>
      </select>
    </div>
  </div>

  <div class="col-md-3 col-6">
    <div class="mb-3">
      <label for="level" class="form-label">Class Level</label>
      <select id="level" class="form-select" [(ngModel)]="mylevel">
        <option *ngFor="let level of levels" [value]="level">
          {{ level }}
        </option>
      </select>
    </div>
  </div>
  <div class="col-md-3 col-6">
    <div class="mb-3">
      <button class="btn btn-dark ms-5" (click)="showstudents()">
        View <i class="bi bi-eye mx-3"></i>
      </button>
    </div>
  </div>
</div>

<!-- Conditionally display success or error message -->
<div
  *ngIf="message"
  class="alert"
  [ngClass]="{
    'alert-success': messageType === 'success',
    'alert-danger': messageType === 'error'
  }"
>
  {{ message }}
</div>

<!-- Conditionally display students or edit UI -->
<div *ngIf="!isEditMode">
  <h3 class="text-success p-3" *ngIf="accounttype === 'ROLE_ADMIN'">
    Students
  </h3>
  <!-- Students Table -->
  <div *ngIf="student.length > 0">
    <div class="table-responsive mb-3">
      <table class="table">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Student Number</th>
            <th>Mother</th>
            <th>Father</th>
            <th>Phone</th>

            <th *ngIf="accounttype === 'ROLE_ADMIN'">Action</th>
            <th *ngIf="accounttype === 'ROLE_USER'">
              Select
              <input
                type="checkbox"
                name="selectAllRows"
                value="1"
                class="selectAllRows d-none"
                onclick="[...closest('table').querySelectorAll('tbody [class=selectRow]')].forEach(box=>box.checked=checked)"
              />
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of student; let i = index">
            <td>{{ student.firstName }}</td>
            <td>{{ student.lastName }}</td>
            <td>{{ student.studentNumber }}</td>
            <td>{{ student.mother }}</td>
            <td>{{ student.father }}</td>
            <td>{{ student.phone }}</td>

            <td *ngIf="accounttype === 'ROLE_USER'">
              <input
                type="checkbox"
                name="selectRow[]"
                value="1"
                class="selectRow"
                [attr.data-index]="i"
              />
            </td>

            <td>
              <div class="dropdown" *ngIf="accounttype === 'ROLE_ADMIN'">
                <button
                  class="btn btn-dark dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Options
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li>
                    <a class="dropdown-item" (click)="editStudent(student)"
                      >Edit</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="deleteStudent(student.id)"
                      >Delete</a
                    >
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Display Grand Total -->
</div>

<!-- Edit UI -->
<!-- Edit UI -->
<div *ngIf="isEditMode">
  <h3 class="p-3 text-success">Edit student</h3>
  <div class="row mb-3">
    <div class="col-md-4">
      <label for="firstName" class="form-label">First Name</label>
      <input
        [(ngModel)]="currentStudent.firstName"
        id="firstName"
        type="text"
        class="form-control"
        placeholder="First Name"
      />
    </div>
    <div class="col-md-4">
      <label for="lastName" class="form-label">Last Name</label>
      <input
        [(ngModel)]="currentStudent.lastName"
        id="lastName"
        type="text"
        class="form-control"
        placeholder="Last Name"
      />
    </div>
    <div class="col-md-4">
      <label for="studentNumber" class="form-label">Student Number</label>
      <input
        [(ngModel)]="currentStudent.studentNumber"
        id="studentNumber"
        type="text"
        class="form-control"
        placeholder="Student Number"
      />
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-4">
      <label for="level" class="form-label">Class Level</label>
      <input
        [(ngModel)]="currentStudent.level"
        id="level"
        type="text"
        class="form-control"
        placeholder="Class Level"
      />
    </div>
    <div class="col-md-4">
      <label for="birthDate" class="form-label">Birth Date</label>
      <input
        [(ngModel)]="currentStudent.birthDate"
        id="birthDate"
        type="date"
        class="form-control"
      />
    </div>
    <div class="col-md-4">
      <label for="residence" class="form-label">Residence</label>
      <input
        [(ngModel)]="currentStudent.residence"
        id="residence"
        type="text"
        class="form-control"
        placeholder="Residence"
      />
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-4">
      <label for="mother" class="form-label">Mother</label>
      <input
        [(ngModel)]="currentStudent.mother"
        id="mother"
        type="text"
        class="form-control"
        placeholder="Mother's Name"
      />
    </div>
    <div class="col-md-4">
      <label for="father" class="form-label">Father</label>
      <input
        [(ngModel)]="currentStudent.father"
        id="father"
        type="text"
        class="form-control"
        placeholder="Father's Name"
      />
    </div>
    <div class="col-md-4">
      <label for="phone" class="form-label">Phone</label>
      <input
        [(ngModel)]="currentStudent.phone"
        id="phone"
        type="text"
        class="form-control"
        placeholder="Phone Number"
      />
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-4">
      <label for="email" class="form-label">Email</label>
      <input
        [(ngModel)]="currentStudent.email"
        id="email"
        type="email"
        class="form-control"
        placeholder="Email Address"
      />
    </div>
    <div class="col-md-4">
      <label for="club" class="form-label">Club</label>
      <input
        [(ngModel)]="currentStudent.club"
        id="club"
        type="text"
        class="form-control"
        placeholder="Club"
      />
    </div>
    <div class="col-md-4">
      <label for="healthStatus" class="form-label">Health Status</label>
      <input
        [(ngModel)]="currentStudent.healthStatus"
        id="healthStatus"
        type="text"
        class="form-control"
        placeholder="Health Status"
      />
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-4">
      <label for="enrollmentStatus" class="form-label">Enrollment Status</label>
      <input
        [(ngModel)]="currentStudent.enrollmentStatus"
        id="enrollmentStatus"
        type="text"
        class="form-control"
        placeholder="Enrollment Status"
      />
    </div>
    <div class="col-md-4">
      <label for="year" class="form-label">Year</label>
      <input
        [(ngModel)]="currentStudent.year"
        id="year"
        type="number"
        class="form-control"
        placeholder="Year"
      />
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-4">
      <button class="btn btn-dark m-1" (click)="cancelEdit()">Cancel</button>
      <button class="btn btn-success m-1" (click)="updateStudent()">
        Update Student
      </button>
    </div>
  </div>
</div>
