<!-- src/app/components/schoolfees/schoolfees.component.html -->
<div class="row">
  <div class="col-md-10 p-3">
    <h3 class="text-success">See School Fees</h3>
    <div class="headeroptions">
      <div class="row m-0 p-1">
        <div class="col-md-3 col-sm-6">
          <div class="row">
            <label for="year" class="col-md-4 col-form-label">Year</label>
            <div class="col-md-8">
              <select id="year" class="form-select" [(ngModel)]="myyear">
                <option *ngFor="let year of years" [value]="year">{{ year }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="d-flex justify-content-end">
            <button class="btn btn-success" (click)="displayExistingFees()">
              See existing fees
            </button>
          </div>
        </div>
      </div>
    </div>

    
<!-- Conditionally display success or error message -->


    <div class="row mx-md-5 mt-3">
      <div
*ngIf="message"
class="alert m-3"
[ngClass]="{
  'alert-success': messageType === 'success',
  'alert-danger': messageType === 'error'
}"
>
{{ message }}
</div>
      <div class="p-0 m-0">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Reason</th>
              <th>Level</th>
              <th>Term</th>
              <th>Year</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fee of fees">
              <td>{{ fee.id }}</td>
              <td>{{ fee.reason }}</td>
              <td>{{ fee.level }}</td>
              <td>{{ fee.term }}</td>
              <td>{{ fee.year }}</td>
              <td>
                <button class="btn btn-success btn-sm" (click)="viewFeesDetails(fee.id,fee.year,fee.level,fee.term)">View</button>
              </td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>