:root {
  --darkgreen: #528f41; /* Define the color variable */
  --lightgreen: #daffcf;
  --lightcream: #fffbef;
  --black: #000000;
  --lightgrey: #e9e9e9;
  --red: #b90202;
}
.sidebar {
  background-color: #2b2b2b;
  color: #fff;
  height: 100vh; /* Full viewport height */
  position: fixed; /* Fixed position on the left */
  top: 0;
  left: -250px; /* Initially hidden off-screen */
  width: 250px; /* Set the width of the sidebar */
  padding-top: 20px;
  z-index: 100; /* Ensures the sidebar stays above other content */
  transition: left 0.3s ease-in-out; /* Slide-in/out animation */
}

.sidebar.show {
  left: 0; /* Show the sidebar */
}

.sidebar a {
  color: #eae8e8;
  text-decoration: none;
  font-weight: 300;
  display: block;
  padding: 10px;
}

a i{
  color: #7491a6;
}

.sidebar a:hover {
  background-color: #1e1e1e;
}

.close-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.maincontent {
  margin-left: 0; /* Default margin for small screens */
}

/* Header style */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
}

/* Hamburger button for small screens */
.hamburger-btn {
  font-size: 30px;
  border: none;
  background: none;
  color: #000;
}

.user {
  display: flex;
  align-items: center;
}

/* Table content */
.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}

.status-paid {
  color: green;
}

.status-unpaid {
  color: red;
}

/* Footer style */
.footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  color: gray;
}

/* Media Queries */

/* Hide sidebar and set margin for small screens */
@media (max-width: 768px) {
  .bigezoapp {
    display: none;
  }
  .sidebar {
    left: -250px; /* Hide sidebar initially */
  }

  .maincontent {
    margin-left: 0; /* No margin for small screens */
  }

  .header .hamburger-btn {
    display: block; /* Show hamburger button */
  }

  .sidebar.show {
    left: 0; /* Show sidebar on toggle */
  }
}

/* Show sidebar for large screens */
@media (min-width: 769px) {
  .close-btn {
    display: none;
  }
  .sidebar {
    left: 0; /* Sidebar is always visible */
  }

  .maincontent {
    margin-left: 250px; /* Add space for sidebar */
  }

  .hamburger-btn {
    display: none; /* Hide hamburger button on large screens */
  }
}
