<div class="d-flex row">
  <!-- Sidebar -->
  <div class="sidebar" [ngClass]="{ show: sidebarVisible }">
    <button class="close-btn" (click)="toggleSidebar()">×</button>
    <img src="logo.png" alt="Logo" class="mb-4" style="width: 120px" />
    <a (click)="home()" *ngIf="accounttype === 'ROLE_ADMIN'">
      <i class="bi me-2 bi-graph-up-arrow"></i> Analytics
    </a>
    <a
      class="d-flex align-items-center dropdown-toggle"
      id="requirementsDropdown"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <i class="bi me-2 bi-list-check"></i> Requirements
    </a>
    <ul class="dropdown-menu bg-dark" aria-labelledby="requirementsDropdown">
      <li>
        <a class="dropdown-item" (click)="requirements()">View Requirements</a>
      </li>
      <li *ngIf="accounttype === 'ROLE_ADMIN'">
        <a class="dropdown-item" (click)="newrequirement()">New Requirement</a>
      </li>
      <li *ngIf="accounttype === 'ROLE_ADMIN'">
        <a class="dropdown-item" (click)="newrequirement()">Defaulters</a>
      </li>
    </ul>

    <a href="#"> <i class="bi me-2 bi-cash-stack"></i> School Fees </a>
    <a
      class="d-flex align-items-center dropdown-toggle"
      id="productsDropdown"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <i class="bi me-2 bi-list-check"></i> Canteen
    </a>
    <ul class="dropdown-menu bg-dark" aria-labelledby="productsDropdown">
      <li>
        <a class="dropdown-item">New Term Shopping</a>
      </li>
      <li *ngIf="accounttype === 'ROLE_ADMIN'">
        <a class="dropdown-item">New Product</a>
      </li>
    </ul>

    <a href="#"> <i class="bi me-2 bi-journal-check"></i> Exam Results </a>

    <a
      class="d-flex align-items-center dropdown-toggle"
      id="smsDropdown"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <i class="bi me-2 bi-chat-dots"></i> SMS
    </a>
    <ul class="dropdown-menu bg-dark" aria-labelledby="smsDropdown">
      <li>
        <a class="dropdown-item">SMS Notifications</a>
      </li>
      <li>
        <a class="dropdown-item" *ngIf="accounttype === 'ROLE_ADMIN'"
          >Send single SMS</a
        >
      </li>
      <li>
        <a class="dropdown-item" *ngIf="accounttype === 'ROLE_ADMIN'"
          >Send Bulk SMS</a
        >
      </li>
    </ul>

    <a
      class="d-flex align-items-center dropdown-toggle"
      *ngIf="accounttype === 'ROLE_ADMIN'"
      id="requirementsDropdown"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <i class="bi me-2 bi-database"></i> Database
    </a>
    <ul class="dropdown-menu bg-dark" aria-labelledby="requirementsDropdown">
      <li>
        <a class="dropdown-item" (click)="students()">View Students</a>
      </li>
      <li *ngIf="accounttype === 'ROLE_ADMIN'">
        <a class="dropdown-item" (click)="newstudent()">New Student</a>
      </li>
    </ul>

    <a  (click)="transactions()"> <i class="bi me-2 bi-currency-dollar"></i> Transactions </a>

    <a href="#"> <i class="bi me-2 bi-person"></i> Profile </a>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <!-- Header -->
    <div class="header d-flex justify-content-between p-3 border-bottom">
      <!-- Hamburger Button for Small Screens -->
      <button class="hamburger-btn d-md-none" (click)="toggleSidebar()">
        ☰
      </button>
      <p class="bigezoapp">Bigezo App</p>

      <!-- User Profile Section (Aligned to the Right) -->
      <div class="user d-flex align-items-center ml-auto">
        <button class="btn btn-outline-dark me-3" (click)="logout()">
          Logout
        </button>
        <span class="me-2">{{ name }}</span>
        <i class="bi bi-person-circle" style="font-size: 1.5rem"></i>
      </div>
    </div>

    <div class="maincontent">
      <router-outlet></router-outlet>
    </div>

    <!-- Footer -->
    <div class="footer">
      <p>
        “Fear God, and give Glory to Him” ... Rev 14:6–7 <br />
        <strong>Bigezo Technologies 2025</strong>
      </p>
    </div>
  </div>
</div>
