<div class="d-flex row">
  <!-- Sidebar -->
  <div class="sidebar" [ngClass]="{ show: sidebarVisible }">
    <button class="close-btn" (click)="toggleSidebar()">×</button>
    <img src="logo.png" alt="Logo" class="mb-4" style="width: 120px" />
    <a href="#"> <i class="bi me-2 bi-list-check"></i> Requirements </a>
    <a href="#"> <i class="bi me-2 bi-cash-stack"></i> School Fees </a>
    <a href="#"> <i class="bi me-2 bi-shop"></i> School Canteen </a>
    <a href="#"> <i class="bi me-2 bi-journal-check"></i> Exam Results </a>
    <a href="#"> <i class="bi me-2 bi-person"></i> Profile </a>
    <a href="#"> <i class="bi me-2 bi-chat-dots"></i> SMS </a>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <!-- Header -->
    <div class="header d-flex justify-content-between p-3 border-bottom">
      <!-- Hamburger Button for Small Screens -->
      <button class="hamburger-btn d-md-none" (click)="toggleSidebar()">
        ☰
      </button>
      <p class="bigezoapp">Bigezo App</p>

      <!-- User Profile Section (Aligned to the Right) -->
      <div class="user d-flex align-items-center ml-auto">
        <button class="btn btn-outline-dark me-3" (click)="logout()">
          Logout
        </button>
        <span class="me-2">Claire Ochola</span>
        <i class="bi bi-person-circle" style="font-size: 1.5rem"></i>
      </div>
    </div>

    <div class="maincontent">
      <router-outlet></router-outlet>
    </div>

    <!-- Footer -->
    <div class="footer">
      <p>
        “Fear God, and give Glory to Him” ... Rev 14:6–7 <br />
        <strong>Bigezo Technologies 2025</strong>
      </p>
    </div>
  </div>
</div>
