<!-- Dropdown menus for Year, Term, and Class inside a row -->
<div class="row mb-4">
  <div class="col-md-3">
    <div class="mb-3">
      <label for="year" class="form-label">Year</label>
      <select id="year" class="form-select" [(ngModel)]="myyear">
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
      </select>
    </div>
  </div>

  <div class="col-md-3">
    <div class="mb-3">
      <label for="term" class="form-label">Term</label>
      <select id="term" class="form-select" [(ngModel)]="myterm">
        <option *ngFor="let term of terms" [value]="term">{{ term }}</option>
      </select>
    </div>
  </div>

  <div class="col-md-3">
    <div class="mb-3">
      <label for="level" class="form-label">Class Level</label>
      <select id="level" class="form-select" [(ngModel)]="mylevel">
        <option *ngFor="let level of levels" [value]="level">
          {{ level }}
        </option>
      </select>
    </div>
  </div>
  <div class="col-md-3">
    <div class="mb-3">
      <button class="btn btn-dark ms-5" (click)="showrequirements()">
        Show All
      </button>
    </div>
  </div>
</div>

<!-- Conditionally display success or error message -->
<div
  *ngIf="message"
  class="alert"
  [ngClass]="{
    'alert-success': messageType === 'success',
    'alert-danger': messageType === 'error'
  }"
>
  {{ message }}
</div>

<!-- Conditionally display requirements or edit UI -->
<div *ngIf="!isEditMode">
  <!-- Requirements Table -->
  <div *ngIf="requirements.length > 0">
    <div class="table-responsive mb-3">
      <table class="table">
        <thead>
          <tr>
            <th>Item</th>
            <th>Description</th>
            <th>Unit Cost</th>
            <th>Class</th>
            <th>Term</th>
            <th>Year</th>
            <th>Quantity</th>
            <th>Total</th>
            <th *ngIf="accounttype === 'ROLE_ADMIN'">Action</th>
            <th *ngIf="accounttype === 'ROLE_USER'">
              Select
              <input
                type="checkbox"
                name="selectAllRows"
                value="1"
                class="selectAllRows"
                onclick="[...closest('table').querySelectorAll('tbody [class=selectRow]')].forEach(box=>box.checked=checked)"
              />
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let requirement of requirements; let i = index">
            <td>{{ requirement.item }}</td>
            <td>{{ requirement.description }}</td>
            <td>{{ requirement.unitCost | number : "1.0-0" }}</td>
            <td>{{ requirement.level }}</td>
            <td>{{ requirement.term }}</td>
            <td>{{ requirement.year }}</td>
            <td>{{ requirement.quantity }}</td>
            <td>
              UGX
              {{
                requirement.unitCost * requirement.quantity | number : "1.0-0"
              }}
            </td>
            <td *ngIf="accounttype === 'ROLE_USER'">
              <input
                type="checkbox"
                name="selectRow[]"
                value="1"
                class="selectRow"
              />
            </td>
            <td>
              <!-- Dropdown Button -->
              <div class="dropdown" *ngIf="accounttype === 'ROLE_ADMIN'">
                <button
                  class="btn btn-dark dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Options
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li>
                    <a
                      class="dropdown-item"
                      (click)="editRequirement(requirement)"
                      >Edit</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      (click)="deleteRequirement(requirement.id)"
                      >Delete</a
                    >
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>

        <tr class="totalrow p-3">
          <td colspan="7" class="text-dark ps-3">Grand Total:</td>
          <td>
            UGX {{ calculateGrandTotal() | number : "1.0-0" }}
            <!-- Display Grand Total -->
          </td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="row mb-3">
      <div class="col-md-4"></div>

      <div class="col-md-4"></div>
      <div class="col-md-4" *ngIf="accounttype === 'ROLE_USER'">
        <button class="btn btn-success w-100 m-1">
          Pay for selected items
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Requirement Edit UI -->
<div *ngIf="isEditMode">
  <h3>Edit Requirement</h3>
  <div class="form-group">
    <label for="item">Item</label>
    <input
      type="text"
      class="form-control"
      id="item"
      [(ngModel)]="currentRequirement.item"
    />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input
      type="text"
      class="form-control"
      id="description"
      [(ngModel)]="currentRequirement.description"
    />
  </div>
  <div class="form-group">
    <label for="unitCost">Unit Cost</label>
    <input
      type="number"
      class="form-control"
      id="unitCost"
      [(ngModel)]="currentRequirement.unitCost"
    />
  </div>
  <div class="form-group">
    <label for="quantity">Quantity</label>
    <input
      type="number"
      class="form-control"
      id="quantity"
      [(ngModel)]="currentRequirement.quantity"
    />
  </div>
  <div class="form-group">
    <label for="level">Class Level</label>
    <select
      id="level"
      class="form-control"
      [(ngModel)]="currentRequirement.level"
    >
      <option *ngFor="let level of levels" [value]="level">{{ level }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="term">Term</label>
    <input
      type="number"
      class="form-control"
      id="term"
      [(ngModel)]="currentRequirement.term"
    />
  </div>
  <div class="form-group">
    <label for="year">Year</label>
    <input
      type="number"
      class="form-control"
      id="year"
      [(ngModel)]="currentRequirement.year"
    />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" (click)="updateRequirement()">
      Update
    </button>
    <button class="btn btn-danger" (click)="cancelEdit()">Cancel</button>
  </div>
</div>
