<div class="p-md-3 photos">
    <h3 class="text-success p-3">My Yearbooks</h3>
<div class="row">
    <div class="col-md-3">
              <div class="yearbook m-1 mb-sm-0">
                <p class="booktitle  text-light">Class <span class="fw-bold">7</span> <span class="text-warning mx-2">2025</span>  <a class="btn btn-sm btn-light">Get .pdf <i class="bi bi-arrow-down"></i> </a> </p>
 
        <img src="yearbook.png" alt="1" class="img-fluid">
        <div class="p-3 text-center">
            <button class="btn btn-danger m-1">
                Watch Video <i class="bi  bi-play-fill"></i>
            </button>
        </div>
       </div>
    </div>

</div>

</div>