<div>
  <h2>
    Payment Details
    <button type="button" class="btn btn-dark" (click)="goBack()">
      <i class="bi bi-arrow-left me-2"></i> Back to requirements
    </button>
  </h2>
  <form>
    <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input
        type="text"
        id="location"
        [(ngModel)]="paymentDetails.location"
        name="location"
        class="form-control"
        placeholder="Enter your location"
        required
      />
    </div>
    <div class="p-3 py-5">
      <h3 class="pb-3 text-success">Selected Items</h3>
      <ul>
        <li *ngFor="let item of selectedItems">
          {{ item.item }} - UGX
          {{ item.unitCost * item.quantity | number : "1.0-0" }}
        </li>
      </ul>
      <p>
        Total:
        <span class="text-danger"
          >UGX {{ calculateTotal() | number : "1.0-0" }}</span
        >
      </p>
      <button type="button" class="btn btn-success" (click)="proceedToPay()">
        Proceed to Pay
      </button>
    </div>
  </form>
</div>
